.title{
    padding: 20px;
    height: 1000px;
    color: aqua;
    text-transform: uppercase;
  background-color: rgba(0, 51, 255, 0.535);  
}
.h1{
    
    margin-top: 10px auto;
   
}
h1{
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    width: 300px;
    height: 40px;
    margin: 10px auto;
}
.h2{
    margin: 20px 20px;
    
    display: inline-block;
}
.img{
   border-radius: 10px;
   background-color: #fff;
   width: 600px;
   height: 400px;
   margin: 50px auto;
    
}

